<div *ngIf="newsDetails" class=" border rounded-lg bg-slate-100 container mx-auto my-10 p-20">
  <div class="aspect-h-1 aspect-w-1  overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80">
    <img [src]="newsDetails.urlToImage" alt="News image" *ngIf="newsDetails.urlToImage" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
  </div>
  <h1 class="text-3xl font-bold mt-4 mb-2">{{newsDetails.title}}</h1>

  <p class="text-lg mb-4">{{newsDetails.description}}</p>
  <p class="italic bg-slate-400 ">
    "This page is supposed to display the full text of the article, however, the news API we are using for this exercise project does not deliver the full text of the article. That’s why you are only seeing an article summary."
  </p>

</div>
